name: Homebrew (stable)

on:
  push:
    branches:
      - master

jobs:
  compile:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Print Environment Variables
      run: env | sort

    - name: Prepare Installation
      run: |
       brew update
       brew cleanup

    - name: Install NSIS
      run: brew install nsis --debug --verbose

    - name: Print NSIS version
      run: makensis -VERSION

    - name: Print NSIS header info
      run: makensis -HDRINFO

    - name: Compile demo.nsi
      run: makensis -V4 demo.nsi