name: Homebrew (debug)

on:
  push:
    branches:
      - master

jobs:
  compile:
    runs-on: macos-latest
    steps:
    - name: Prepare Installation
      run: |
        brew tap nsis-dev/makensis
        brew update
        brew cleanup

    - name: Install NSIS
      run: brew install makensis@3.06.1 --with-debug --debug --verbose

    - name: Print NSIS version
      run: makensis -VERSION

    - name: Print NSIS header info
      run: makensis -HDRINFO

    - name: Compile test-script
      run: makensis -V4 demo.nsi
