name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  compile:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: ['8', '10', '12', '14', '16']

    steps:
    - uses: actions/checkout@v2

    - name: Print Environment Variables
      run: env

    - name: Prepare Installation
      run: |
       brew update
       brew cleanup

    - name: Install NSIS
      run: brew install nsis --debug --verbose

    - name: Print NSIS version
      run: makensis -VERSION

    - name: Print NSIS header info
      run: makensis -HDRINFO

    - name: Compile demo.nsi
      run: node makensis.js
