name: NSIS

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Install NSIS
      run: |
       brew update
       brew install nsis --debug --verbose
    - name: Print NSIS version
      run: makensis -VERSION
    - name: Print NSIS compile flags
      run: makensis -HDRINFO
    - name: Compile test-script
      run: printf "OutFile /dev/null\nUnicode true\nSection\nSectionEnd" | makensis -
